<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
=======
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    // font-family: "", "";
}

.container{
    // width: ___px;
    margin: 0 auto;
    padding: 0 20px;
}
>>>>>>> 79732b24e38c3633c55ad3ab0bbd200597732e80
