video {
  max-width: 1240px;
  max-height: 666px;
}

.video {
  display: flex;
  justify-content: center;
}

@media (max-width: 1026px) {
  video {
    max-width: 900px;
    text-align: center;
  }
}

@media (max-width: 698px) {
  video {
    max-width: 600px;
    text-align: center;
    margin-top: 120px;
  }
}
